<!-- Create Cards for my projects -->

{{ partial "header.html" . }}

<h1 style="text-align:center">My Projects</h1>

{{ $projects:= .Pages }}
{{ range (where $projects "Section" "projects") }}
<div id="projects-card">
  <h2><a href="{{.Params.Project_url}}">{{ .Title | markdownify }}</a></h2>
  <p>{{ .Description | markdownify}}</p>
  <p><strong>notes:</strong>
    {{ .Params.Notes | markdownify}}</p>
  <p><strong>stack:</strong>
    {{ .Params.stack | markdownify}}</p>
</div>
{{ end }}

{{ partial "footer.html" . }}
