<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Description }}
  <meta name="description" content="{{ . }}">
  {{ end }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{- $css := resources.Get "style.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css" media="screen"
    integrity="{{ $css.Data.Integrity }}">
</head>

<body>
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr />
  </nav>
